<nz-layout>
    <nz-header style="background-color: rgb(134, 245, 239);">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="flex-grow-1 p-0">
          <a routerLink="add">
            {{ 'الطلبات'}}
          </a>
        </h2>
        
      </div>
    </nz-header>
  
    <nz-content>
      <div class="inner-content">
        <div class="top-content">
          <div class="buttons">
            <button routerLink="/export-orders" nz-button nzType="dashed" nzPrimary><span class="actions-icon" nz-icon nzType="appstore" nzTheme="outline"></span>
              تصدير الطلبات</button>
            <button nz-button nzType="dashed" nzPrimary><span class="actions-icon" nz-icon nzType="check-circle" nzTheme="outline"></span>
              العلامات التجارية</button>
            <button nz-button nzType="dashed" nzPrimary><span class="actions-icon" nz-icon nzType="unordered-list" nzTheme="outline"></span>
              قوائم الأسعار</button>
            <button routerLink="add" nz-button nzType="primary" style="color:white;" nzPrimary><span class="actions-icon" nz-icon nzType="plus"
                nzTheme="outline"></span> إضافة
              طلب</button>
          </div>
        </div>
        <nz-table
        #outBordered
        #rowSelectionTable
        [nzData]="product"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
          <thead>
            <tr>
              <th></th>
              <th class="textStart">المنتج</th>
              <th>الضريبة</th>
              <th>التصنيف</th>
              <th>تتبع المخزون</th>
              <th>الكمية المتوفرة</th>
              <th>السعر</th>
              <th>تفعيل المنتج</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of product">
              <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"
                ></td>
              <td class="textStart">
                <div class="productInfo">
                  <img nz-image width="40px" height="40px" [nzSrc]="data.imageUrl" />
                  <div class="name">
                    <p>{{ data.name }}</p>
                    {{ data.id2 }}
                  </div>
                </div>
              </td>
              <td>
                {{data.tax}}
              </td>
              <td>{{data.category}}</td>
              <td><span *ngIf="data.inventory" nz-icon nzType="check" nzTheme="outline" style="color:green"></span>
                <span *ngIf="!data.inventory" nz-icon nzType="close" nzTheme="outline" style="color:red"></span>
              </td>
              <td>{{data.quantity}}</td>
              <td>{{data.price | currency:'$'}}</td>
              <td>
                <label class="p-0 m-0">
                  <input class="toggle-checkbox" type="checkbox" [(ngModel)]="data.activate">
                  <div class="toggle-switch"></div>
                </label>
              </td>
              <td class="description"><span nz-icon nzType="small-dash" nzTheme="outline"></span> {{data.details}}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-content>
  </nz-layout>
  